.footer__links-container {
    display: flex;
    gap: 93px;
}

@media screen and (max-width: 1220px) {
    .footer__links-container {
        gap: 30px;
    }
}

@media screen and (max-width: 755px) {
    .footer__links-container {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }
}