.find-specialist__button {
    max-width: 238px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 32px 0 0 0;
    padding: 20px 24px;
    box-sizing: border-box;
    background-color: #16C8BB;
    border: none;
    border-radius: 4px;
}