.article__img {
    width: 100%;
    height: 331px;
    object-fit: cover;
}

@media screen and (max-width: 755px) {
    .article__img {
        height: 207px;
    }
}

@media screen and (max-width: 430px) {
    .article__img {
        height: 160px;
    }
}