.blog-articles {
    display: flex;
    gap: 24px;
    margin: 23px 0 0 0;
}

@media screen and (max-width: 985px) {
    .blog-articles {
        flex-direction: column;
    }
}

@media screen and (max-width: 755px) {
    .blog-articles {
        gap: 16px;
        margin-top: 16px;
    }
}
