.article-container {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (max-width: 1220px) {
    .article-container {
        max-width: 714px;
    }
}

@media screen and (max-width: 985px) {
    .article-container {
        max-width: 728px;
        margin-bottom: 23px;
    }
}

@media screen and (max-width: 755px) {
    .article-container {
        max-width: 374px;
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 430px) {
    .article-container {
        max-width: 288px;
        margin-bottom: 16px;
        gap: 16px;
    }
}