.sidebar {
    max-width: 282px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1220px) {
    .sidebar {
        max-width: 222px;
    }
}

@media screen and (max-width: 985px) {
    .sidebar {
        max-width: 728px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px 0;
    }
}

@media screen and (max-width: 755px) {
    .sidebar {
        max-width: 374px;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 24px;
    }
}

@media screen and (max-width: 430px) {
    .sidebar {
        max-width: 288px;
        gap: 16px;
    }
}