.blog-cards {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 24px;
    margin-top: 23px;
}

@media screen and (max-width: 1220px) {
    .blog-cards {
        max-width: 960px;
        gap: 24px 24px;
    }
}

@media screen and (max-width: 985px) {
    .blog-cards {
        max-width: 728px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 755px) {
    .blog-cards {
        max-width: 374px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 430px) {
    .blog-cards {
        max-width: 288px;
    }
}