.article__content-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    list-style: none;
}